 *{
  direction: rtl;
 }
input[type=text], input[type=password], input[type=email], input[type=date],select, input[type=file] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 .Lists
       {
      color:#0A2907;
          font-size: 25px;
             float: left;
             margin-left: 20px;

       }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
             height: 56px;
           width: 1313px;
       }

li {
    float: left;
           }

li a, .dropbtn {
    display: inline-block;
    color: #656565;
    text-align: center;
    padding-bottom: 14px;
           font-weight: 700;
           font-size:large;
       }


li.dropdown {
    display: inline-block;
}

.dropdown-content {
  margin-top: 30px;
    display: none;
    position: absolute;
    background-color: #204D16;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    display: block;
    text-align: right;
}

.dropdown-content a:hover
{
    background-color:#0A2907 ;
    color:#D8DDD6 ;

    }

.dropdown:hover .dropdown-content {
    display: block;
}


.stick-navigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 width: 100%;
}

.break{

  background-color: #c6b6c7;
  padding: 2px;
}

/* start slide */
.slide{
  width: 100%;
  position: relative;
}
.sub-slid{
  position: absolute;
  top: 40%;
  left: 34%;
  font-size: 40px;
  text-align: left;
  direction: rtl;
  color: #ffffff;
  padding: 10px;
 background-color:#2B9593;
  float: left;
  margin-top: 10%;
  margin-left:400px;
}
.slide .cover{

  background-color: rgba(51, 51, 51, 0.33);
  position: absolute;
  bottom: 1px;
}
.slide img{
  width: 100%;
 height: 40em;

}
header {
	background-color: #ffffff;
	width:100% ;
	 overflow: hidden;
   direction: rtl;
}
hr{
	background-color:#204D16;
	height:5px;
}



#FAQ{
  width: 800px;
}

.p{
		display:inline;
		color: #ffffff ;
		font-size: 24px;
		float: left;
		margin-left: 20px;
}

footer{
	background-color: #204D16;
	width:100% ;
	 overflow: hidden;
	 height: 40px;
}
footer p{
  color: #ffffff;
}

.lin{
	display:inline;
}

#title{
	color: #4E474D;
	margin-top: 70px;
font-size: 30px;
}

.submit{
background-color: #D8DDD6 ;
font-size: 20px;
margin: 10px;
color: #0A2907;
padding: 5px;
}

h3{
		font-size: 24px;
		color: #204D16;
}
#h3{
		font-size: 40px;
		color: #204D16;
}

.ind{
  background-color: #fff; border-radius: 50%;
 -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 60%; padding: 20px;
  border: 4px solid #B40486;
}
.div{

background: url(img/login.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-opacity: 0.9;
}
     .div2{
     	margin: 20px;
        border-radius:10px;
         font-size: 24px;
        box-shadow:  8px 8px 8px #BFB2C3;
       background-color:#82A669;

       padding: 30px;
     color: #ffffff;
     text-align: right;
    }
    h1{
    	color: #ffffff;
      font-size: 28px;
    }

    #h1{
    	color: #ffffff ;}

.sub{
color: #D1CFD4;
 background-color:#2B9593;
float: center;
height: 1000px;
width: 1300px;
font-size: 30px;
}
.sub2{
 color: #ffffff;
 background-color:DodgerBlue;
border-radius:30px;
font-size: 24px;
box-shadow:  8px 8px 8px #BFB2C3;
padding: 20px;
margin:  20px;
width: 400px ;
height: 300px;
}
.img {
  border-radius: 50%;
 -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}


.mb-2{
    margin-bottom: 10px ;
}
